@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

.font-sans {
  font-family: var(--font-inter), sans-serif;
}

.font-lora {
  font-family: var(--font-lora), serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* แอนิเมชันสำหรับ Tech Stack Slider */
@keyframes infinite-scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-100%); }
}

.animate-infinite-scroll {
  animation: infinite-scroll 30s linear infinite;
}

/* บังคับหยุดเมื่อเอาเมาส์ชี้ที่แถบ */
.group:hover .animate-infinite-scroll {
  animation-play-state: paused !important;
}